<div class="header-container">
    <div class="wrap">
        <div class="left">
            <div class="img-text">
                <img src="../../../assets/Vivekananda.png" />
                <div class="left-text">
                    <p>bnbdfh dshgy</p>
                    <p>bnbdfh dshgy</p>
                    <p>bnbdfh dshgy</p>
                </div>
            </div>
        </div>
        <div class="center">
            <img src="../../../assets/N20-Logo.png" />
        </div>
        <div class="right">
            <div class="img-text">
                <div class="right-text">
                    <p>bnbdfh dshgy</p>
                    <p>bnbdfh dshgy</p>
                    <p>bnbdfh dshgy</p>
                </div>
                <img src="../../../assets/Vajpayee.png" />
            </div>
        </div>
    </div>

</div>