.header-container {
    .quote {
        font-size: 11px !important;
        font-family: 'Segoe UI', Roboto, 'Helvetica Neue' !important;
        color: #222;
    }
    .wrap {
        display: inline-flex;
        width: 100%;
    }
    .left {
        float: left;
        width: 33%;
        @media only screen 
        and (min-device-width : 0px) 
        and (max-device-width : 1023px) {
        }
    }
    .right {
        float: right;
        position: relative;
        width: 34%;
        @media only screen 
        and (min-device-width : 0px) 
        and (max-device-width : 767px) {
            width: 33.4%;
        }
    }
    .center {
        display: inline-block;
        position: relative;
        width: 33%;
        text-align: center;
        margin-top: 15px;
        @media only screen 
        and (min-device-width : 0px) 
        and (max-device-width : 767px) {
            margin-top: 47px;
        }
        img {
            height: 65px;
            @media only screen 
            and (min-device-width : 0px) 
            and (max-device-width : 1023px) {
                height: 45px;
            }
        }
    }
    .left {
        display: inline-block;
        background-color: #ddd;
        margin: 8px 0 8px 8px;
        .img-text {
            padding: 7px;
            display: inline-flex;
            @media only screen 
            and (min-device-width : 0px) 
            and (max-device-width : 1023px) {
                display: block;
            }
            .left-text {
                padding-left: 10px;
                P {
                    font-size: 12px;
                    font-family: sans-serif;
                    width: 240px;
                    line-height: 1.25;
                    @media only screen 
                    and (min-device-width : 0px) 
                    and (max-device-width : 1023px) {
                        width: 100%;
                    }
                }
            }
            img {
                height: 45px;
            }
        }
    }
    .right {
        display: inline-block;
        text-align: end;
        background-color: #ddd;
        margin: 8px 8px 8px 0;
        .img-text {
            display: inline-flex;
            padding: 7px;
            text-align: right;
            @media only screen 
            and (min-device-width : 0px) 
            and (max-device-width : 1023px) {
                display: block;
            }
            .right-text {
                display: inline-block;
                padding-right: 10px;
                P {
                    width: 240px;
                    font-size: 12px;
                    font-family: sans-serif;
                    @media only screen 
                    and (min-device-width : 0px) 
                    and (max-device-width : 1023px) {
                        width: 100%;
                    }
                }
            }
            img {
                height: 45px;
            }
        }
    }
    
    .n20-logo {
    }
}
