<div class="info_container">
    <div class="main_news_section">
        <div class="left">
            <div class="article-1">
                <img src="../../../assets/eg-imgs/adventure-travel-cliff.png">
                <h4>placeholder news line</h4>
            </div>
            <div class="article-2">
                <img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
            <div class="article-3">
                <img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
        </div>
        <div class="middle">
            <div class="section-1"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
            <div class="section-2">
                <div class="section_2_left">
                    <div class="left_article_1"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
                    <div class="left_article_2"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
                </div>
                <div class="section_2_right">
                    <div class="right_article_1"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
                    <div class="right_article_2"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
                    <div class="right_article_3"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right_section_1"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
            <div class="right_section_2"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
            <div class="right_section_3">
                <div class="article_1"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
                <div class="article_2"><img src="../../../assets/eg-imgs/adventure-travel-cliff.png"></div>
            </div>
        </div>
    </div>
</div>