.dashboard-wrapper {
    display: grid;    
    background-color: #eff;
}
.header-wrapper {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #eff;
}
.nav-wrapper {
    position: fixed;
    top: 105px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    @media only screen 
    and (min-device-width : 0px) 
    and (max-device-width : 767px) {
        top: 200px;
    }
}
.menu-wrapper {
    padding-top: 150px;
    @media only screen 
    and (min-device-width : 0px) 
    and (max-device-width : 767px) {
        padding-top: 200px;
    }
}